/* 
.institute-manage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.institute-manage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  max-width: 1000px;
}

.institute-manage-title {
  font-size: 2rem;
  font-weight: 900;
  margin: 50px ;
  padding: 20px;
  font-family: 'cursive';
  border: 3px solid black;
  text-align: center;
  flex-grow: 1; 
  text-align: center;
}

.institute-manage-search {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
  max-width: 400px;
}

.table-container {
  width: 10%;
  margin-top: 20px;
} */



.institute-manage-title {

}
/* .add-icon-container{
  display: flex;
  justify-content: flex-start; 
  max-width: 400px; 
  gap: 10px;
  margin-top: 30px;
} */
.add-icon-container {
 margin-top: 4.5%;
 padding-top: 5px ;
 padding-bottom: 5px ;
 margin-left: 1%;


}
.institute-manage-search {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  gap: 10px;
 
  margin-right: 5%;
  align-items: center;
}

.table th {
  background-color: #f0f0f0;
   /* Header background */
   font-size: larger;
   font-weight: 400;
  border-bottom: 2px solid #ccc; 
}




  .institute-manage-search {
    max-width: 100%; 
  }

