.mainContain{
  
    background-image: url();
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  padding: 20px;

}